<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <%= link_to "AYBAMS Admin", admin_root_path, class: "navbar-brand" %>
    
    <div class="navbar-nav ms-auto">
      <span class="navbar-text me-3">Welcome, <%= current_user.full_name %></span>
      <%= link_to "View Store", root_path, class: "nav-link", target: "_blank" %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </div>
  </div>
</nav>
